@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

@import 'variables';
@import 'mixins';

body {
  font-family: $font-stack;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}